/* basic */
body {
  /* background-color: black; */
  color: white;
  font-family: "Yu Mincho", "YuMincho", serif;
  background-blend-mode: normal;
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-image: image(rgba(1, 1, 0, 0.25)), image(rgba(1, 1, 0, 0.25)); */
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("https://github.com/KiryuHare/SIlhouette_Homepage/blob/fb7bc91633b2d9a44349a1d75b2c8d5bcf5c7d2a/image/Silhouette_Title.PNG?raw=true");
}

p {
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

/* 画面上部のリンクリスト */
.linklist {
  display: flex;
  height: 50px;
}

.linklist-item {
  flex-basis: 200px;
  background-color: brown;
  outline-style: solid;
  outline-color: black;
  text-align: center;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
}

header {
  height: 40px;
  background-color: black;
  font-size: 1.2em;
  font-family: serif;
  font-style: italic;
  padding-left: 10px;
  padding-top: 3px;
}
footer {
  height: 20px;
  background-color: black;
  font-family: sans-serif;
  color: gray;
  font-size: 1em;
  text-align: center;
}
/* 汎用 */
.center {
  text-align: center;
}

.region {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 60px;
  margin: 20px;
  height: max-content;
  clear: both;
}

.region .left {
  float: left;
}

.region .right {
  float: right;
}

.region .explain {
  /* text-align: left; */
  margin: 10px;
}

.region img {
  width: 300px;
  height: auto;
  margin: auto;
  /* text-align: unset; */
}

.twocolumn {
  display: flex;
}

.sidebar {
  width: 200px;
  /* display: flex;
  flex-direction: column; */
}

.sidebar ol {
  width: inherit;
}

.sidebar li {
  height: 50px;
  width: inherit;
}

.sidebar-item {
  font-size: 1.2em;
  border-style: ridge;
  /* flex-grow: 1; */
  height: inherit;
  width: inherit;
  position: fixed;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetop {
  width: 200px;
  height: 50px;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 50px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* About */
.about-item {
  width: 90%;
  margin: 20px;
}

/* Game System */
.function-explain {
  display: flex;
  flex-direction: column;
}

.function-explain div {
  flex-grow: 1;
  display: flex;
}

.function-explain h2 {
  flex-grow: 1;
  display: flex;
  margin: 10px 40px;
}

.function-explain img {
  width: 70%;
  max-width: 500px;
  height: auto;
  margin: 20px;
}

.function-explain p {
  text-align: left;
  margin: 40px;
}

/* Charactors */
.charactor-introduce {
  display: flex;
  flex-direction: column;
}

.charactor-introduce h2 {
  text-align: left;
  margin: 10px 40px;
}

.charactor-introduce .character1 {
  display: flex;
  justify-content: space-between;
}

.charactor-introduce .character1 .chara-img {
  height: auto;
  width: 30%;
  margin: 10px;
}
.charactor-introduce .character1 .character2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charactor-introduce .character1 .character2 p {
  text-align: left;
  margin: 10px;
  flex-grow: 1;
}

.charactor-introduce .character1 .character2 .chara-making {
  height: auto;
  width: 80%;
  margin: 40px;
}

/* Teams */
.member-introduce {
  display: flex;
  flex-direction: column;
}

.member-introduce .member1 {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.member-introduce .member1 .member3 {
  margin: 10px;
}

.member-introduce .member1 .member3 img {
  height: 60px;
  width: 60px;
  padding: 5px;
  object-fit: contain;
  border-style: outset;
  border-color: white;
  border-radius: 10px;
}

.member-introduce .member1 .member3 img:hover {
  border-style: inset;
}
.member-introduce .member1 img {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 100%;
}

.member-introduce .member2 {
  margin-top: 30px;
}

.member-introduce .member2 img {
  width: 200px;
  margin: 10px;
  float: left;
}

.member-introduce .member2 p {
  text-align: left;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  /* スマートフォン対応 */
  footer {
    height: 200px;
  }

  /* 画面上部のリンクリスト */
  .linklist {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .linklist-item {
    flex-grow: 1;
    background-color: brown;
    outline-style: solid;
    outline-color: black;
    text-align: center;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
  }

  .twocolumn {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: auto;
  }

  .sidebar ol {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sidebar li {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: blue;
  }

  .sidebar-item {
    position: inherit;
    /* flex-grow: 1; */
    height: 50px;
    width: inherit;
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Game System */
  .function-explain {
    display: flex;
    flex-direction: column;
  }

  .function-explain div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .function-explain h2 {
    flex-grow: 1;
    display: flex;
    margin: 10px 40px;
  }

  .function-explain img {
    width: 90%;
    margin: 20px;
  }

  .function-explain p {
    text-align: left;
    margin: 40px;
  }

  /* Charactors */
  .charactor-introduce {
    display: flex;
    flex-direction: column;
  }

  .charactor-introduce h2 {
    text-align: center;
    margin: 10px 40px;
  }

  .charactor-introduce .character1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .charactor-introduce .character1 .chara-img {
    height: 500px;
    width: 250px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .charactor-introduce .character1 .character2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .charactor-introduce .character1 .character2 p {
    text-align: left;
    margin: 10px;
    flex-grow: 1;
  }

  .charactor-introduce .character1 .character2 .chara-making {
    height: auto;
    width: 90%;
  }

  /* Teams */
  .member-introduce {
    display: flex;
    flex-direction: column;
  }

  .member-introduce .member1 {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .member-introduce .member1 .member3 {
    margin: 10px;
  }

  .member-introduce .member1 .member3 img {
    height: 30px;
    width: auto;
    margin: 10px;
  }

  .member-introduce .member1 img {
    height: 100px;
    width: 100px;
    margin: 10px;
  }

  .member-introduce .member2 {
    margin-top: 30px;
  }

  .member-introduce .member2 img {
    width: 200px;
    margin: 10px;
    float: left;
  }

  .member-introduce .member2 p {
    text-align: left;
    margin: 10px;
  }
}
